[Unit]
Description=rancher Server
After=rancher.server


[Install]
WantedBy=multi-user.target

[Service]
Type=forking
ExecStart=/root/code/vagrant/rancher/start.sh
